<a href="https://colab.research.google.com/github/powebe/EdgeML/blob/master/%E2%96%8CJ_10_2_pasdas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
pd.__version__

'1.3.5'

In [ ]:
path='https://github.com/powebe/p4econ/raw/main/'
fname = 'fe-all.xlsx'
SheetName ='FE-ex1'
url = path + fname
pd.read_excel(url, sheet_name=SheetName)

         obs  yyyymm      twi    sp500    twpl    twir    twee     twfi
0    1995M01   34700  6307.85   470.42   87.76   89.64   84.72  1453.69
1    1995M02   34731  6509.33   487.38   90.12   92.62   90.86  1476.70
2    1995M03   34759  6524.00   500.71   95.46   92.14  105.11  1404.69
3    1995M04   34790  5803.78   514.71   86.68   82.85   98.55  1195.80
4    1995M05   34820  5674.55   533.40   80.76   79.42   98.79  1200.80
..       ...     ...      ...      ...     ...     ...     ...      ...
147  2007M04   39173  7875.42  1482.37  182.94  121.48  334.75   963.02
148  2007M05   39203  8144.95  1530.62  197.99  122.21  350.44   950.58
149  2007M06   39234  8883.21  1503.35  219.12  126.51  381.34  1047.43
150  2007M07   39264  9287.25  1455.27  220.39  138.48  391.85  1110.47
151  2007M08   39295  8982.16  1473.99  231.95  140.30  378.61  1003.05

[152 rows x 8 columns]

In [ ]:
from google.colab import files
# 從本機上傳任何資料檔 (例 xlsx/csv) 到雲端磁碟
uploaded = files.upload()

Saving houseprice.csv to houseprice.csv

In [ ]:
!ls

houseprice.csv	sample_data

In [ ]:
import pandas as pd
path='https://github.com/powebe/p4econ/raw/main/'
fname = 'data3-6.csv'
url = path + fname
pd.read_csv(url)

     obs     Ct     Yt
0   1959   7876   8641
1   1960   7926   8660
2   1961   7954   8794
3   1962   8220   9077
4   1963   8434   9274
5   1964   8817   9805
6   1965   9257  10292
7   1966   9674  10715
8   1967   9854  11061
9   1968  10313  11448
10  1969  10593  11708
11  1970  10717  12022
12  1971  10975  12345
13  1972  11508  12770
14  1973  11950  13539
15  1974  11756  13310
16  1975  11899  13404
17  1976  12446  13793
18  1977  12846  14095
19  1978  13258  14662
20  1979  13417  14899
21  1980  13216  14813
22  1981  13245  15009
23  1982  13270  14999
24  1983  13829  15277
25  1984  14415  16252
26  1985  14954  16597
27  1986  15409  16981
28  1987  15740  17106
29  1988  16211  17621
30  1989  16430  17801
31  1990  16532  17942
32  1991  16249  17755
33  1992  16520  18062
34  1993  16810  18075
35  1994  17152  18320

In [ ]:
import pandas as pd
path='https://github.com/powebe/p4econ/raw/main/'
fname = 'All-ex-Data.xls'
SheetName ='ex-ARMA'
url = path + fname
pd.read_excel(url, sheet_name=SheetName)

ImportError: ignored

In [ ]:
!pip install --upgrade xlrd
import pandas as pd
path='https://github.com/powebe/p4econ/raw/main/'
fname = 'All-ex-Data.xls'
SheetName ='ex-ARMA'
url = path + fname
pd.read_excel(url, sheet_name=SheetName)

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (2.0.1)

,W12,W32,Y01,Y1,Y2,Y5,Z1,Z2,Z25,ZC13
0,0.121295,0.404024,0.221372,0.221372,0.221372,0.221372,0.133360,0.360357,0.087213,0.650307
1,0.240856,1.423948,0.940707,1.261697,1.117805,1.228491,0.918570,0.971872,1.022712,1.660492
2,0.264761,2.033771,0.073391,1.710258,0.972063,1.409210,-0.113656,-0.088185,0.756344,0.631417
3,0.315253,2.462142,0.435063,1.932817,1.232413,1.106972,0.032627,0.612964,-0.299512,0.762821
4,0.264932,2.342931,-0.129221,1.774712,0.864331,1.035834,-0.203551,0.131228,-0.216155,0.766418
...,...,...,...,...,...,...,...,...,...,...
395,0.018148,-1.833974,-0.701560,-1.397282,-1.008580,-0.836835,-0.512239,-1.098706,0.616143,-0.055802
396,-0.048136,-1.981090,0.003080,-1.605546,-0.803965,-1.461182,-0.132725,-0.002070,-0.305103,0.140802
397,-0.060942,-1.580273,0.262346,-1.100521,-0.400889,-0.320051,0.556693,0.354080,0.948608,1.159868
398,0.033696,-1.221524,-0.015919,-0.793954,-0.340672,0.344076,-0.043447,-0.320580,0.961514,0.460773
399,0.050136,-1.509765,-0.525291,-1.209703,-0.803421,-0.779839,-0.633884,-0.489517,-0.591158,-0.145092